.image {
	width: 20px;
	height: 20px;
}

.pager a {
	margin-left: 5px;
	margin-top: 50px;
}

.pager {
	margin-left: 15px;
	width: 100%;
	float: left;
}

.pager .selected_page {
	color: red;
}

#left {
	width: 300px;
	float: left;
}

#right {
	width: 300px;
	float: right;
}

.rf-msg-ftl {
	color: blue;
}

.row {
	display: table;
	width: 100%; /*Optional*/
	table-layout: fixed; /*Optional*/
	border-spacing: 10px; /*Optional*/
}

.column {
	display: table-cell;
}

.title {
	width: 100%;
	font-size: 72px;
	color: #00bfbf;
	text-shadow: #5151515px 5px 4px;
	text-align: center;
}